<div class="card">
    <div class="image">
        <img src="http://image.tmdb.org/t/p/w185/{{poster_path}}">
    </div>
    <div class="content">
        <div class="titulo">
            <h4>{{titulo}}</h4>
        </div>
        <div class="anoPublicacao">
            Released:{{anoPublicacao}}
        </div>
        <div class="meta">
            <a href="/otra/movies/{{id}}/cinemas">Ver cinemas Em Exibicao</a>
        </div>
    </div>
</div>

